@font-face {
    font-family: 'Font-01';
    src: url('Font-01.woff2') format('woff2'),
        url('Font-01.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

:root {
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
}

.sticky-logo {
    position: fixed;
    z-index: 1;
    left: 1rem;
    top: 1rem;
}

.hero {
    background-color: black;
    height: 100vh;
    display: grid;
    grid-gap: 1rem;
    padding: 0 1rem;
    position: relative;
    font-family: 'Font-01';
}

#about {
    height: 100vh;
    background-color: black;
    display: grid;
    color: white;
}

.about-me {
    padding: 0 1rem;
    margin-top: 2rem;
    line-height: 1.5rem;
    font-size: 1.125rem;
    font-weight: 300;
}

.about-me a {
    text-decoration: none;
    border-bottom: 1px solid rgb(255 193 5 / 0.5);
    transition: border 0.3s ease-in-out;
    color: #FFC105;
}

.about-me a:hover {
    border-color: #FFC105;
}

.left {
    background: url('../img/sakthivel_dhanasekaran_s_3d_model.png') center center no-repeat;
    background-size: contain;
    margin-top: 1rem;
}

.right {
    color: white;
    position: relative;
}

.right>div {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 3rem;
}

.name>span {
    color: #FFC105;
}

.scroll-down {
    position: absolute;
    height: 50px;
    width: 50px;
    animation: Zoom 1s ease-in-out infinite;
    top: calc(100% - 100px);
    left: calc(100% - 65px);
    transition: opacity .3s ease-in-out;
    opacity: .3;
}

.scroll-down:hover {
    opacity: 1;
}

/* Animations */

@keyframes Zoom {
    0% {
        transform: scale(1, 1);
    }
    50% {
        transform: scale(1.1, 1.1);
    }
    100% {
        transform: scale(1, 1);
    }
}

/* Media queries */

@media (min-width: 800px) {
    .hero {
        grid-template-columns: 1fr 2fr;
        grid-gap: 1rem;
    }
    .right>div {
        font-size: calc(5vw + 11.7px);
    }
    .scroll-down {
        height: 75px;
        width: 75px;
        left: 50%;
        transform: translateX(-50%);
    }
    .left {
        margin: 0 3vw;
    }

    .about-me {
        margin:  auto;
        max-width: 800px;
    }

    .logo-card {
        height: 160px;
        width: 160px;
        background: white;
        display: grid;
        border-radius: 50%;
    }

    .logo-card img {
        margin: auto;
        width: 75%;
    }
}