{
  "arrowParens": "avoid",
  "bracketSameLine": true,
  "singleQuote": true,
  "endOfLine": "auto",
  "trailingComma": "all",
  "overrides": [
    {
      "files": ["*.scss"],
      "options": {
        "singleQuote": false
      }
    },
    {
      "files": ["*.html"],
      "options": {
        "singleQuote": false,
        "printWidth": 180
      }
    }
  ]
}
